doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet" href="stylesheets/jasmine.css")
    script(type="text/javascript", src='/javascripts/app.js')
  body
    block content
